/** menu.css
* Sample skin for AnimTree
*/

body {
	margin:0;
	padding: 0;
	background: #ccc;
	font-family: "Trebuchet MS", "Lucida Grande";
}
a:visited {
	color: #000;
}
#nav a:hover {
	color: #00f;
	text-decoration: underline;
	background-color: #fff;
}
/* *-*-*-*- *-*-*-*- *-*-*-*-        end <a> rules             *-*-*-*- *-*-*-*- *-*-*-*- 
 *                                   _____________                                      */

/* *-*-*-*- *-*-*-*- *-*-*         Begin Menu tree rules        *-*-*-*- *-*-*-*- *-*-*-*- 
 *                                 _____________________                                */
.button{
	/* may cause windows bug:
	   position: relative;
	*/
	z-index: 100000;
	cursor: default;
	font-family: "Charcoal", "Lucida Grande", "Trebuchet MS";
	font-size: 13px;
	line-height: 15px; 
	text-indent: 6px;
	vertical-align: -1px;
}


.buttonlabel{
	font-size: 13px;
	height: 14px;
	/* may cause windows bug:
	   position: relative;
	*/
	cursor: default;
	
	/** margin may cause freeze in
	 *  Windows IE6.
	 *  Bug discovered by 
	 *  Michael of 13thparallel.org
	 *
	 * padding: .05em .5em .05em .4em;
	 * margin: 1px 1px 0px 1px;
	 */
	
	color: #000;
}
.buttonlabel img {
	margin-bottom: -3px;
}

.labelHover {
	color: #090601;
}
.labelDown {
}
.labelHover.labelDown {
}



.labelOver {
	color: #00C;
}

.menuNode {
	font-size: 14px;
	background: url("../_pic/animtree_leaf.gif") no-repeat;
	height: 16px;
	line-height: 16px;
	text-indent: 8px;
	line-height: 14px;
	padding: 0;
}

.button.menuNode {
	line-height: 14px;
}

.menuNode.last {
	background: url("../_pic/animtree_leafEnd.gif") no-repeat;
}

.menuNode a {
	color: #000;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	padding: 0px 3px 1px 0px;
	margin-left: 8px;
	text-decoration: none;
	width: auto;
}

.menuNode a:hover {
	text-decoration: underline;
}

.menu {
	margin-left: 10px;
	padding-bottom:  .6em;
	padding-top: 1px;
	font-family: Trebuchet MS, Arial, sans-serif;
	margin-bottom: -3px;
}
 .menu .menu { /* submenus */
  	background: url("../_pic/animtree_branch.gif") repeat-y 1px 0;
	margin-left: -1px;
	margin-bottom: 0;
	padding-left: 5px;
 }			 

.menu .menu .menuNode {
	margin-left: 8px;
}


#nav {
	border: 1px solid #ccc;
	background: #fcfcfc;
	color: #000;
	overflow: hidden;
	position: absolute;
	width: 198px;
	height: 600px;
	overflow: auto;
	margin: 0;
	left: 0;
	top:0;
	position: absolute;
	white-space: nowrap;
	-moz-user-select: none;
}
		


/* *-*-*-*- *-*-*-*- *-*-*-*         End Menu tree rules        *-*-*-*- *-*-*-*- *-*-*-*- 
*                                   ___________________                                */
h2 {
	color: #777;
	font-size: 18px;
	text-indent: 24px;
	padding: 10px;
}
/* *-*-*-*- *-*-*-*- *-*-*-*-        @media print rules        *-*-*-*- *-*-*-*- *-*-*-*- 
*                                   __________________                                 */
@media print {

	title { display: none }
	#nav {
		position: absolute;
		width: 0;
		height: 0;
		padding: 0px;
		margin: 0;
		display: none;
	}

}
