vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Dec 2006 15:51:10 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|PHROZEN\\Administrator
vti_modifiedby:SR|PHROZEN\\Administrator
vti_timecreated:TR|21 Dec 2006 15:51:10 -0000
vti_cacheddtm:TX|21 Dec 2006 15:51:10 -0000
vti_filesize:IR|1360
vti_lineageid:SR|{BF31956D-53FC-473E-9DAC-49C51BC53903}
vti_backlinkinfo:VX|
