vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Jan 2007 18:19:24 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|PHROZEN\\Administrator
vti_modifiedby:SR|PHROZEN\\Administrator
vti_timecreated:TR|27 Nov 2005 17:57:08 -0000
vti_lineageid:SR|{4D44AD28-C165-4BBD-91F7-11ADAC1DFEBF}
vti_backlinkinfo:VX|test/index.htm rms/welcomehome.aspx rms/health/default.aspx rms/system/default.aspx
vti_nexttolasttimemodified:TW|05 Jan 2007 18:18:53 -0000
vti_cacheddtm:TX|05 Jan 2007 18:19:24 -0000
vti_filesize:IR|21403
vti_cachedlinkinfo:VX|S|/library/toolbar/3.0/gradient.aspx
vti_cachedsvcrellinks:VX|NSUS|file:///library/toolbar/3.0/gradient.aspx
